[buildout]
extends = buildout.cfg
eggs +=
     moh.sentinelapi

user=admin:admin
develop = src/moh.sentinelapi

[versions]
# ploneawesome.addon = 1.0
# plone.api = 1.5.1

[instance_base]
resources = ${buildout:directory}/resources

