[buildout]
extends = buildout.cfg
eggs +=
     moh.sentinelapi
develop = src/moh.sentinelapi
user=admin:admin

[versions]
# ploneawesome.addon = 1.0
# plone.api = 1.5.1

[instance_base]
resources = ${buildout:directory}/resources

